In [1]:
# @author: https://github.com/puskal-khadka

import pandas as pd

df_credits=pd.read_csv("dataset/tmdb_5000_credits.csv")
df_movies=pd.read_csv("dataset/tmdb_5000_movies.csv")

#merge two dataframe into single 
df=df_movies.merge(df_credits,on="title")

df.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [2]:
#for this engine we are taking  overview, genres, keyboard, cast consideration for recommendation
df=df[["id","title","genres","keywords","cast","overview"]]
df.head()

,id,title,genres,keywords,cast,overview
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...",A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...",Following the death of District Attorney Harve...
4,49529,John Carter,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","John Carter is a war-weary, former military ca..."

In [3]:
df["overview"]=df["overview"].astype(str).str.split()
df["overview"]

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bond’s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4804    [El, Mariachi, just, wants, to, play, his, gui...
4805    [A, newlywed, couple's, honeymoon, is, upended...
4806    ["Signed,, Sealed,, Delivered", introduces, a,...
4807    [When, ambitious, New, York, attorney, Sam, is...
4808    [Ever, since, the, second, grade, when, he, fi...
Name: overview, Length: 4809, dtype: object

In [4]:
def convertData():
    considered_feature=["genres","keywords","cast"]
    for c in considered_feature:
        df[c]=df[c].apply(preProcess)
                
def preProcess(obj):
    import ast
    tempList=[]
    count=0
    for i in ast.literal_eval(obj):
        if count>=4:  #maximum 4 words for each column
            break
        tempList.append(i['name'])
        count+=1   
    return tempList


convertData()

df   #visualize final converted data frame

,id,title,genres,keywords,cast,overview
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colony]","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel]","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...","[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...","[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel]","[Taylor Kitsch, Lynn Collins, Samantha Morton,...","[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...,...,...,...
4804,9367,El Mariachi,"[Action, Crime, Thriller]","[united states–mexico barrier, legs, arms, pap...","[Carlos Gallardo, Jaime de Hoyos, Peter Marqua...","[El, Mariachi, just, wants, to, play, his, gui..."
4805,72766,Newlyweds,"[Comedy, Romance]",[],"[Edward Burns, Kerry Bishé, Marsha Dietlein, C...","[A, newlywed, couple's, honeymoon, is, upended..."
4806,231617,"Signed, Sealed, Delivered","[Comedy, Drama, Romance, TV Movie]","[date, love at first sight, narration, investi...","[Eric Mabius, Kristin Booth, Crystal Lowe, Geo...","[""Signed,, Sealed,, Delivered"", introduces, a,..."
4807,126186,Shanghai Calling,[],[],"[Daniel Henney, Eliza Coupe, Bill Paxton, Alan...","[When, ambitious, New, York, attorney, Sam, is..."
4808,25975,My Date with Drew,[Documentary],"[obsession, camcorder, crush, dream girl]","[Drew Barrymore, Brian Herzlinger, Corey Feldm...","[Ever, since, the, second, grade, when, he, fi..."

In [5]:
# merge considered attribute
df['filteredWord']=df['overview'] + df['genres']+df['keywords']+df['cast']
df['filteredWord']=df.filteredWord.apply(lambda i: " ".join(i) )
df.head()

,id,title,genres,keywords,cast,overview,filteredWord
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colony]","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[In, the, 22nd, century,, a, paraplegic, Marin...","In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[Captain, Barbossa,, long, believed, to, be, d...","Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel]","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...","[A, cryptic, message, from, Bond’s, past, send...",A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...","[Following, the, death, of, District, Attorney...",Following the death of District Attorney Harve...
4,49529,John Carter,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel]","[Taylor Kitsch, Lynn Collins, Samantha Morton,...","[John, Carter, is, a, war-weary,, former, mili...","John Carter is a war-weary, former military ca..."

In [6]:
#final processing for filteredWord

from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer
import re

# Function for removing NonAscii characters
def _removeNonAscii(s):
    return "".join(i for i in s if  ord(i)<128)
# Function for converting into lower case
def make_lower_case(text):
    return text.lower()
# Function for removing stop words
def remove_stop_words(text):
    text = text.split()
    stops = set(stopwords.words("english"))
    text = [w for w in text if not w in stops]
    text = " ".join(text)
    return text
# Function for removing punctuation
def remove_punctuation(text):
    tokenizer = RegexpTokenizer(r'\w+')
    text = tokenizer.tokenize(text)
    text = " ".join(text)
    return text
#Function for removing the html tags
def remove_html(text):
    html_pattern = re.compile('<.*?>')
    return html_pattern.sub(r'', text)

# Applying all the functions in description and storing as a filteredWord

df['filteredWord'] = df['filteredWord'].apply(_removeNonAscii)
df['filteredWord'] = df.filteredWord.apply(func = make_lower_case)
df['filteredWord'] = df.filteredWord.apply(func = remove_stop_words)
df['filteredWord'] = df.filteredWord.apply(func=remove_punctuation)
df['filteredWord'] = df.filteredWord.apply(func=remove_html)

df['filteredWord']

0       22nd century paraplegic marine dispatched moon...
1       captain barbossa long believed dead come back ...
2       cryptic message bonds past sends trail uncover...
3       following death district attorney harvey dent ...
4       john carter war weary former military captain ...
                              ...
4804    el mariachi wants play guitar carry family tra...
4805    newlywed couple s honeymoon upended arrivals r...
4806    signed sealed delivered introduces dedicated q...
4807    ambitious new york attorney sam sent shanghai ...
4808    ever since second grade first saw e t extrater...
Name: filteredWord, Length: 4809, dtype: object

In [7]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf=TfidfVectorizer(ngram_range=(1,3), stop_words='english')
tf_matrix=tfidf.fit_transform(df['filteredWord'])
tf_matrix.shape

(4809, 374923)

In [8]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_similarity=cosine_similarity(tf_matrix,tf_matrix)

cosine_similarity[0] #debug, seeing first movie score

array([1.        , 0.00860806, 0.00435617, ..., 0.        , 0.00628125,
       0.        ])

In [9]:
indices=pd.Series(df.index, index=df['title']).drop_duplicates()

indices

title
Avatar                                         0
Pirates of the Caribbean: At World's End       1
Spectre                                        2
The Dark Knight Rises                          3
John Carter                                    4
                                            ...
El Mariachi                                 4804
Newlyweds                                   4805
Signed, Sealed, Delivered                   4806
Shanghai Calling                            4807
My Date with Drew                           4808
Length: 4809, dtype: int64

In [10]:
def movieRecommend(title):
    index=indices[title]
    similarity_score=cosine_similarity[index]
    enumerated_sim_score= list(enumerate(similarity_score))
    recommended_movieList=sorted(enumerated_sim_score, key=lambda x:x[1],reverse=True)[1:6] # 5 movie
  
    movie_indices=[ i[0] for i in recommended_movieList ]
    recommend=df.iloc[movie_indices].title
    return recommend

In [11]:
movieRecommend('The Avengers')

7                  Avengers: Age of Ultron
174                    The Incredible Hulk
79                              Iron Man 2
26              Captain America: Civil War
85     Captain America: The Winter Soldier
Name: title, dtype: object

In [12]:
#additional steps - i haved dumped above dataframe and score
#and used this in our django project for recommending movie
import pickle
df.to_pickle('movie_df.pkl')
pickle.dump(cosine_similarity,open('cosine_simi.pkl','wb'))